/* =============================================================================
   L3 — COMPONENT / ICON
   ============================================================================= */

:root {
  --brc-icon-size1: var(--brc-scale-scale8); /* 16px */
  --brc-icon-size2: var(--brc-scale-scale10); /* 24px */
  --brc-icon-size3: var(--brc-scale-scale11); /* 32px */
}
